<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1>Ecommerce</h1>
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" class="form-logout" th:action="@{/logout}" method="post">
            <input name="_csrf" type="hidden" value="63155ace-bc25-48a4-b881-1ad730b9268b" />
            <button onclick="document.getElementById('logoutForm').submit()" class="btn btn-outline">Cerrar sesion</button>
        </form>
    </div>
</body>
</html>